{% extends "article/base.html" %}
{% load staticfiles %}
{% load paginate_tags %}
{% load mongoid_tags %}

{% block content %}
<div>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th data-field="title">标题</th>
                <th data-field="tag">标签</th>
                <th data-field="count">发布时间</th>
            </tr>
        </thead>
        <tbody>

            {% for a in articles.object_list %}
            <tr>
              <td>
                  <a href="{% url 'article:detail' a|private:'id' %}">{{a.title|safe}}</a>
                  <a id="q_detail" class="right hide-on-med-and-down" href="#{{ a|private:'id' }}"><i class="material-icons left">info_outline</i></a>
                  <div id="{{ a|private:'id' }}" class="modal">
                    <div class="modal-content">
                      <h4>问题详情</h4>
                      <p>{{ a.content|safe }}</p>
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'article:detail' a|private:'id' %}">查看答案</a>
                      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">关闭</a>
                    </div>
                  </div>
              </td>
              <td>
              {% for tag in a.tags %}
                  <div class="chip">
                    <a href="{% url 'article:tag' tag %}">{{tag}}</a>
                  </div>
              {% endfor %}
              </td>

              <td>
                  <a>{{a.pub_date}}</a>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'article/pagination.html' %}

</div>
    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>
{% endblock %}